<h2 mat-dialog-title>Members</h2>

<mat-dialog-content (scroll)="onscroll($event)">
    <!-- Search Input -->
    <mat-form-field class="w-100">
        <input matInput #searchInput (keyup)="searchMember(searchInput.value)" placeholder="Search" />
    </mat-form-field>

    <!-- Loader -->
    <div *ngIf="viewLoading" class="text-center">
        <mat-spinner [diameter]="30" class="m-auto"></mat-spinner>
    </div>

    <!-- No Records Found -->
    <div *ngIf="!viewLoading && noRecords" class="text-center">
        <h6>No Records Found</h6>
    </div>

    <!-- Members List -->
    <div *ngIf="!viewLoading && !noRecords">
        <div *ngFor="let member of memberList" class="form-check">
            <ng-container *ngIf="(data.Action === 'Add') || (data.Action === 'Edit' && !data.usersIds.includes(member.UserId))">
                <mat-checkbox [checked]="member.isChecked" (change)="checkedMember($event, member.UserId, member.Name)">
                    {{ member.Name }}
                </mat-checkbox>
            </ng-container>
        </div>
    </div>

    <!--Remove List-->
    <div *ngIf="!viewLoading && !noRecords">
        <div *ngFor="let member of removeUserDetails" class="form-check">
            <ng-container>
                <mat-checkbox [checked]="member.isChecked" (change)="checkedMember($event, member.UserId, member.Name)">
                    {{ member.Name }}
                </mat-checkbox>
            </ng-container>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading">Done</button>
</mat-dialog-actions>