<h2 mat-dialog-title class="border-bottom">
    {{data.Action}} Task
</h2>
<mat-dialog-content>
    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange()">
        <mat-tab [disabled]="data.Action === 'Edit' && tabDisable">
            <ng-template matTabLabel>
                Assign To Others
            </ng-template>
            <ng-template matTabContent>
                <form class="form" [formGroup]="addTaskForm">
                    <div class="row form-group p-10">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Title</mat-label>
                                <input matInput type="text" formControlName="Title" />
                                <mat-error *ngIf="addTaskForm.get('Title')?.hasError('required')">
                                    Title is required.
                                </mat-error>
                                <mat-error *ngIf="addTaskForm.get('Title')?.hasError('pattern')">
                                    Title contain only alphabets.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Description</mat-label>
                                <input matInput type="text" formControlName="Description" />
                                <mat-error>
                                    Description is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Attach File</mat-label>
                                <div class="flex-container">
                                    <input class="pointer" matInput [value]="displayFileName"
                                        (click)="triggerFileSelect()" readonly />
                                    <input type="text" formControlName="Image" hidden />
                                    <div class="remove-value" *ngIf="displayFileName" (click)="removeFile()">
                                        Remove
                                    </div>
                                </div>
                            </mat-form-field>
                            <input #fileInput type="file" (change)="triggerFileSelect($event)" hidden />
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Lead/ Customer Name</mat-label>
                                <mat-select formControlName="LeadId">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="searchText" placeholderLabel="Search"
                                            noEntriesFoundLabel="No records found"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let lead of leadFilter" [value]="lead.Id">
                                        {{lead.LeadName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Due Date</mat-label>
                                <input class="pointer" matInput [matDatepicker]="picker" [min]="current"
                                    formControlName="TaskEndDateDisplay" readonly />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>Please enter Due Date</mat-error>
                                <input matInput formControlName="TaskEndDate" hidden />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Priority</mat-label>
                                <mat-select formControlName="Priority">
                                    <mat-option value="High">High Priority</mat-option>
                                    <mat-option value="Low">Low Priority</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Add Users</mat-label>
                                <div class="flex-container">
                                    <input class="pointer" matInput formControlName="UserDisplayIds" readonly
                                        (click)="openMembers('UserIds')" />
                                    <input matInput formControlName="UserIds" hidden />
                                    <div class="remove-value" (click)="removeOwners('User')"
                                        *ngIf="data.Action === 'Edit' && assignedToCount >= 1">
                                        Remove
                                    </div>
                                </div>
                                <mat-error>Users is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Add CC Members</mat-label>
                                <div class="flex-container">
                                    <input class="pointer" matInput formControlName="TaskDisplayOwners" readonly
                                        (click)="openMembers('TaskOwners')" />
                                    <input matInput formControlName="TaskOwners" hidden />
                                    <div class="remove-value" (click)="removeOwners('Owner')"
                                        *ngIf="data.Action === 'Edit' && taskOwnerCount >= 1">
                                        Remove
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </ng-template>
        </mat-tab>

        <mat-tab [disabled]="data.Action === 'Edit' && !tabDisable">
            <ng-template matTabLabel>
                Assign To Me
            </ng-template>
            <ng-template matTabContent>
                <form class="form" [formGroup]="addTaskForm">
                    <div class="row form-group p-10">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Title</mat-label>
                                <input matInput type="text" formControlName="Title" />
                                <mat-error *ngIf="addTaskForm.get('Title')?.hasError('required')">
                                    Title is required.
                                </mat-error>
                                <mat-error *ngIf="addTaskForm.get('Title')?.hasError('pattern')">
                                    Title contain only alphabets.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Description</mat-label>
                                <input matInput type="text" formControlName="Description" />
                                <mat-error>
                                    Description is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Attach File</mat-label>
                                <div class="flex-container">
                                    <input class="pointer" matInput [value]="displayFileName"
                                        (click)="triggerFileSelect()" readonly />
                                    <input type="text" formControlName="Image" hidden />
                                    <div class="remove-value" *ngIf="displayFileName" (click)="removeFile()">
                                        Remove
                                    </div>
                                </div>
                            </mat-form-field>
                            <input #fileInput type="file" (change)="triggerFileSelect($event)" hidden />
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Lead/ Customer Name</mat-label>
                                <mat-select formControlName="LeadId">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="searchText" placeholderLabel="Search"
                                            noEntriesFoundLabel="No records found"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let lead of leadFilter" [value]="lead.Id">
                                        {{lead.LeadName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Due Date</mat-label>
                                <input class="pointer" matInput [matDatepicker]="picker" [min]="current"
                                    formControlName="TaskEndDateDisplay" readonly />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>Please enter Due Date</mat-error>
                                <input matInput formControlName="TaskEndDate" hidden />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Priority</mat-label>
                                <mat-select formControlName="Priority">
                                    <mat-option value="High">High Priority</mat-option>
                                    <mat-option value="Low">Low Priority</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Add CC Members</mat-label>
                                <div class="flex-container">
                                    <input class="pointer" matInput formControlName="TaskDisplayOwners" readonly
                                        (click)="openMembers('TaskOwners')" />
                                    <input matInput formControlName="TaskOwners" hidden />
                                    <div class="remove-value" (click)="removeOwners('Owner')"
                                        *ngIf="data.Action === 'Edit' && taskOwnerCount >= 1">
                                        Remove
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onClick()" type="button" mat-raised-button> Cancel</button>&nbsp;
    <button (click)="onSubmit()" type="button" mat-raised-button color="primary" [disabled]="viewLoading">
        {{data.Button}}
    </button>&nbsp;
</mat-dialog-actions>